* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Header Section */
/* Background image is in the home section in header. */

.root header {
  height: 90vh;
  /* max-height: 768px; */
}


/* Nav-bar Section CSS */

.root nav {
  height: 10vh;
  min-height: 60px;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

nav .nav-bar {
  width: 90%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-bar img.logo-nav-bar {
  height: 100%;
  width: 160px;
}

nav .nav-bar button.hamburger-nav-menu {
  background: transparent;
  border: 0;
  font-size: 30px;
  display: none;
}

nav .nav-bar ul.nav-bar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav .nav-bar ul.nav-bar-menu li.nav-bar-options {
  display: inline-block;
  padding: 0 8px;
  margin: 0 3px;
  line-height: 30px;
  font-size: 1.3rem;
  /* background-color: aqua; */
}

nav .nav-bar ul.nav-bar-menu li.nav-bar-options:hover {
  background-color: rgba(241, 171, 78, 0.733);
  border-radius: 10px;
}

.nav-bar ul.nav-bar-menu li.nav-bar-options a.nav-bar-links {
  text-decoration: none;
}

.nav-bar ul.nav-bar-menu li.nav-bar-options a.nav-bar-links:focus {
  color: rgb(0, 0, 0);
}


/* Home Section CSS */

header #home-section {
  height: 100%;
  background-image: url(main-header-image-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header #home-section .home-section-msg {
  height: max-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header #home-section .home-section-msg h2 {
  font-size: 3.5rem;
  margin: 0;
  margin-bottom: 30px;
  color: aquamarine;
}

header #home-section .home-section-msg span {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: rgb(87, 52, 243);
}

header #home-section .home-section-msg #start-shopping-btn {
  height: 35px;
  width: 130px;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(243, 159, 48);
  color: aquamarine;
  border: 0;
}

header #home-section .home-section-msg #start-shopping-btn:hover {
  transform: scale(1.1);
  color: rgb(83, 32, 223);
}


/* Main Section */

.root main {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* Services Section CSS */

main #services-section {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

main #services-section h2 {
  font-size: 3rem;
  color: rgb(21, 22, 22);
  margin: 40px 0;
}

main #services-section .services-div-section {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#services-section .services-div-section .services-tiles {
  height: 330px;
  width: 280px;
  border-radius: 10px;
  transition: 0.5s;
  background: url(main-header-image-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#services-section .services-div-section .services-tiles:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

#services-section .services-div-section .services-tiles .services-tiles-hover-div {
  height: 100%;
  width: 100%;
  position: relative;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(197, 196, 196, 0.247);
  backdrop-filter: blur(5px);
  transition: 0.5s;
  padding: 10px;
}

#services-section .services-div-section .services-tiles:hover .services-tiles-hover-div {
  top: 40%;
  transition: 0.5s;
}

#services-section .services-div-section .services-tiles .services-tiles-hover-div h2 {
  margin: 20px 0;
  line-height: 30px;
  font-size: 2.5rem;
}

#services-section .services-div-section .services-tiles .services-tiles-hover-div span {
  margin: 10px 0;
  font-size: 1.2rem;
}


/* About Us Section CSS */

main #about-us-section {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

main #about-us-section h2 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 28px;
  color: black;
}

main #about-us-section .about-us-section-div {
  height: max-content;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

main #about-us-section .about-us-section-div img {
  width: 250px;
  height: 250px;
  /* background: url(main-header-image-background.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  border-radius: 15px;
}

main #about-us-section .about-us-section-div .about-us-details {
  width: 50%;
  height: max-content;
  padding: 5px;
}

#about-us-section .about-us-section-div .about-us-details h3 {
  /* margin-left: 5px; */
  margin: 15px 0;
}

#about-us-section .about-us-section-div .about-us-details span {
  display: inline-block;
  /* margin-left: 5px; */
  font-size: 1.1rem;
  margin-bottom: 10px;
}


/* Contact Us Section CSS */

main #contact-us-section {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  /* background-image: url(main-header-image-background.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

main #contact-us-section h2 {
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 3rem;
}

main #contact-us-section .contact-us-form {
  height: max-content;
  width: 60%;
  background-color: rgba(197, 196, 196, 0.247);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

main #contact-us-section .contact-us-form span {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.7rem;
}

main #contact-us-section .contact-us-form #name-of-enquiry-person , main #contact-us-section .contact-us-form #number-of-enquiry-person , main #contact-us-section .contact-us-form #email-id-of-enquiry-person {
  height: 35px;
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 4px;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 2px solid rgb(196, 230, 45);
  line-height: 30px;
  font-size: 1.3rem;
  color: blanchedalmond;
  caret-color: rgb(211, 233, 10);
  /* border-radius: 10px; */
}

main #contact-us-section .contact-us-form #name-of-enquiry-person:focus , main #contact-us-section .contact-us-form #number-of-enquiry-person:focus , main #contact-us-section .contact-us-form #email-id-of-enquiry-person:focus {
  border-bottom: 2px solid rgb(92, 90, 235);
}

main #contact-us-section .contact-us-form #name-of-enquiry-person:hover , main #contact-us-section .contact-us-form #number-of-enquiry-person:hover , main #contact-us-section .contact-us-form #email-id-of-enquiry-person:hover {
  border-bottom: 2px solid rgb(92, 90, 235);
}

main #contact-us-section .contact-us-form #message-of-enquiry-person {
  height: 125px;
  width: 45%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 4px;
  background: transparent;
  outline: none;
  border: 2px solid rgba(53, 231, 17, 0.973);
  line-height: 30px;
  font-size: 1.3rem;
  border-radius: 10px;
  color: blanchedalmond;
  caret-color: rgb(84, 221, 176);
  resize: none;
}

main #contact-us-section .contact-us-form #message-of-enquiry-person:focus {
  border: 2px solid rgb(92, 90, 235);
}

main #contact-us-section .contact-us-form #message-of-enquiry-person:hover {
  border: 2px solid rgb(92, 90, 235);
}

/* ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ 
  color: red;
  opacity: 1; /* Firefox 
}

:-ms-input-placeholder { /* Internet Explorer 10-11 
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge 
  color: red;
} */


main #contact-us-section .contact-us-form .form-submit-btn {
  height: 35px;
  width: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: aquamarine;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  transition: 0.5s;
}

main #contact-us-section .contact-us-form .form-submit-btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}


/* Footer Section */

.root footer {
  height: max-content;
  width: 100%;
  background-color: rgb(8, 8, 8);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 7px;
}

footer .footer-nav {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

footer .footer-nav  ul.footer-nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

 ul.footer-nav-menu li.footer-nav-menu-option {
  margin-top: 7px;
  color: rgb(202, 226, 226);
}

 ul.footer-nav-menu a.footer-nav-menu-links {
  text-decoration: none;
  color: rgb(225, 235, 235);
}

footer span.footer-span-copyright {
  margin-top: 10px;
  margin-bottom: 20px;
  color: aliceblue;
  text-align: center;
}



/* Media Query for Header */

@media only screen and (max-width: 768px) , screen and (min-height: 924px) {
  .root header {
    height: 45vh;
  }
}

/* Media Query for Header */

@media only screen and (max-height: 768px) and (orientation: landscape) {
  .root header {
    height: 100vh;
  }

  /* For Menu in Tablet and Mobile */
  nav .nav-bar button.hamburger-nav-menu {
    display: initial;
  }

  nav .nav-bar ul.nav-bar-menu {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #services-section .services-div-section .services-tiles {
    height: 300px;
    width: 240px;
  }

  #services-section .services-div-section .services-tiles:hover .services-tiles-hover-div {
    top: 30%;
  }

  #services-section .services-div-section .services-tiles .services-tiles-hover-div h2 {
    font-size: 2rem;
  }

  /* main #contact-us-section .contact-us-form {
    width: 80%;
  } */

  main #contact-us-section .contact-us-form #name-of-enquiry-person , main #contact-us-section .contact-us-form #number-of-enquiry-person , main #contact-us-section .contact-us-form #email-id-of-enquiry-person , main #contact-us-section .contact-us-form #message-of-enquiry-person {
    width: 60%;
  }
}



@media screen and (max-width: 768px) {
  nav .nav-bar button.hamburger-nav-menu {
    display: initial;
  }

  nav .nav-bar ul.nav-bar-menu {
    display: none;
  }

  header #home-section .home-section-msg {
    width: 90%;
  }

  header #home-section .home-section-msg h2 {
    font-size: 2.6rem;
  }

  header #home-section .home-section-msg span {
    font-size: 1.7rem;
  }



  main #services-section {
    margin-bottom: 0;
  }
  main #services-section .services-div-section {
    flex-direction: column;
  }

  #services-section .services-div-section .services-tiles {
    width: 300px;
    margin-bottom: 25px;
  }



  main #about-us-section .about-us-section-div {
    flex-wrap: wrap;
    width: 100%;
  }

  main #about-us-section .about-us-section-div img {
    width: 280px;
    height: 280px;
  }

  main #about-us-section .about-us-section-div .about-us-details {
    width: 80%;
    padding: 10px;
  }


  main #contact-us-section .contact-us-form {
    width: 80%;
  }
}



@media screen and (max-width: 486px) {
  /* main #services-section .services-div-section {
    flex-wrap: wrap;
  } */

  /* #services-section .services-div-section .services-tiles {
    margin: 20px 0;
  } */


  /* main #about-us-section .about-us-section-div {
    flex-wrap: wrap;
  } */


  #services-section .services-div-section .services-tiles {
    height: 300px;
    width: 250px;
  }



  main #about-us-section .about-us-section-div img {
    width: 220px;
    height: 220px;
  }

  main #about-us-section .about-us-section-div .about-us-details {
    width: 90%;
  }

  #about-us-section .about-us-section-div .about-us-details span {
    font-size: 1rem;
  }



  main #contact-us-section .contact-us-form #name-of-enquiry-person , main #contact-us-section .contact-us-form #number-of-enquiry-person , main #contact-us-section .contact-us-form #email-id-of-enquiry-person , main #contact-us-section .contact-us-form #message-of-enquiry-person {
    width: 80%;
  }

  

  footer .footer-nav {
    flex-direction: column;
  }

  footer .footer-nav  {
    width: 80%;
  }

}



@media screen and (max-width: 279px) {
  * {
    display: none;
  }
}
