* {
  box-sizing: border-box;
}

:root {
  --main-theme-pink: rgb(243, 170, 170);
  --main-theme-gray: rgb(90 90 90);
  --main-theme-3: rgb(145, 86, 241);
  /* --main-theme-pink: rgb(139, 175, 230); */
  /* --main-theme-gray: rgb(63, 65, 43); */
  /* --border-color-text: rgb(65, 55, 55); */
  /* --border-color-msg: rgb(49, 68, 70); */
  --form-bg-color: rgba(197, 196, 196, 0.247);
  --gradient-text-color-1: linear-gradient(153deg, rgba(209,217,62,0.8186624991793592) 0%, rgba(248,104,61,1) 59%, rgba(123,0,255,0.9363095580028886) 100%);
  --gradient-text-color-2: linear-gradient(45deg, rgba(244,238,108,0.9895308465182948) 27%, rgba(98,226,249,1) 83%);
  --gradient-text-color-3: linear-gradient(0deg, rgba(243,170,170,0.7895308465182948) 55%, rgba(128,128,128,0.5) 100%);;
  /* --gray-color-icon: grayscale(5); */
  /* --gray-color-icon-undo: grayscale(0); */
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Header Section */
/* Background image is in the home section in header. */



/* Nav-bar Section CSS */

.root nav {
  height: 10vh;
  width: 100%;
  min-height: 60px;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-theme-pink);
}

nav .nav-bar {
  width: 90%;
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-bar img.logo-nav-bar {
  height: 100%;
  width: 160px;
}

nav .nav-bar button.hamburger-nav-menu {
  background: transparent;
  border: 0;
  font-size: 30px;
  display: none;
}

nav .nav-bar ul.nav-bar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav .nav-bar ul.nav-bar-menu li.nav-bar-options {
  display: inline-block;
  padding: 0 8px;
  margin: 0 3px;
  line-height: 33px;
  font-size: 1.3rem;
}

nav .nav-bar ul.nav-bar-menu li.nav-bar-options:hover {
  background-color: var(--main-theme-gray);
  border-radius: 10px;
}

.nav-bar ul.nav-bar-menu li.nav-bar-options:hover a.nav-bar-links {
  color: var(--main-theme-pink);
}

.nav-bar ul.nav-bar-menu li.nav-bar-options a.nav-bar-links {
  text-decoration: none;
  color: var(--main-theme-gray);
}

.nav-bar ul.nav-bar-menu li.nav-bar-options a.nav-bar-links:focus {
  color: var(--main-theme-3);
}


/* Home Section CSS */


.root header {
  height: 90vh;
  /* max-height: calc(100vh - 60px); */
}

header #home-section {
  height: 100%;
  width: 100%;
  max-height: fit-content;
  background-image: url(main-header-image-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header #home-section .home-section-msg {
  height: max-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: var(--form-bg-color); */
  /* border-radius: 10px; */
  /* backdrop-filter: blur(1px); */
}

header #home-section .home-section-msg h2 {
  font-size: 3.5rem;
  margin: 0;
  margin-bottom: 30px;
  background: var(--gradient-text-color-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

header #home-section .home-section-msg span {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--main-theme-3);
  background: var(--form-bg-color);
  border-radius: 10px;
  text-align: center;
}

header #home-section .home-section-msg #start-shopping-btn {
  height: 33px;
  width: 130px;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--main-theme-pink);
  color: var(--main-theme-gray);
  border: 0;
  font-size: 1rem;
  transition: 0.1s;
}

header #home-section .home-section-msg #start-shopping-btn:hover {
  transform: scale(1.1);
  color: var(--main-theme-3);
  transition: 0.2s;
}


/* Main Section */

.root main {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* Services Section CSS */

main #services-section {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

main #services-section h2.service-title {
  font-size: 3rem;
  background: var(--gradient-text-color-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 40px 0;
}

main #services-section .services-div-section {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#services-section .services-div-section .services-tiles {
  height: 330px;
  width: 280px;
  border-radius: 10px;
  /* transition: 0.5s; */
  /* background: url(main-header-image-background.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  overflow: hidden;
  /* box-shadow: 1px 1px 30px 4px var(--main-theme-pink); */
}

#services-section .services-div-section .service-div-1 {
  background: url(Silver-Jewellery-Ornament.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#services-section .services-div-section .service-div-2 {
  background: url(Gold-Jewellery-Ornament.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#services-section .services-div-section .service-div-3 {
  background: url(Diamond-Jewellery-Ornament.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#services-section .services-div-section .services-tiles:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

#services-section .services-div-section .services-tiles .services-tiles-hover-div {
  height: 100%;
  width: 100%;
  position: relative;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: var(--form-bg-color); */
  background: var(--gradient-text-color-3);
  backdrop-filter: blur(10px);
  transition: 0.5s;
  padding: 10px;
}

#services-section .services-div-section .services-tiles:hover {
  box-shadow: 1px 1px 30px 10px var(--main-theme-pink);
}

#services-section .services-div-section .services-tiles:hover .services-tiles-hover-div {
  top: 0%;
  transition: 0.5s;
}

#services-section .services-div-section .services-tiles .services-tiles-hover-div h2 {
  margin: 20px 0;
  line-height: 40px;
  font-size: 2.4rem;
  background: var(--gradient-text-color-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services-section .services-div-section .services-tiles .services-tiles-hover-div span {
  margin: 10px 0;
  font-size: 1.2rem;
  color: var(--main-theme-3);
}


/* About Us Section CSS */

main #about-us-section {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

main #about-us-section h2 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 28px;
  background: var(--gradient-text-color-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main #about-us-section .about-us-section-div {
  height: max-content;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

main #about-us-section .about-us-section-div img {
  width: 200px;
  height: 250px;
  /* background: url(main-header-image-background.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  border-radius: 15px;
  box-shadow: 1px 1px 30px 4px var(--main-theme-pink);
}

main #about-us-section .about-us-section-div .about-us-details {
  width: 50%;
  height: max-content;
  padding: 5px;
}

#about-us-section .about-us-section-div .about-us-details h3 {
  /* margin-left: 5px; */
  display: inline-block;
  margin: 15px 0;
  font-size: 1.5rem;
  background: var(--gradient-text-color-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-align: center; */
}

#about-us-section .about-us-section-div .about-us-details span {
  display: inline-block;
  /* margin-left: 5px; */
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: var(--main-theme-3);
}


/* Contact Us Section CSS */

main #contact-us-section {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  /* background-image: url(main-header-image-background.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

main #contact-us-section h2 {
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 3rem;
  background: var(--gradient-text-color-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main #contact-us-section form {
  height: max-content;
  width: 60%;
  background-color: var(--form-bg-color);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
}

main #contact-us-section form span {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.7rem;
  color: var(--main-theme-3);
}

main #contact-us-section form #name-of-enquiry-person , main #contact-us-section form #number-of-enquiry-person , main #contact-us-section form #email-id-of-enquiry-person {
  height: 35px;
  width: 50%;
  max-width: 600px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 4px;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 2px solid var(--main-theme-pink);
  line-height: 30px;
  font-size: 1.3rem;
  color: var(--main-theme-gray);
  caret-color: var(--main-theme-pink);
  /* border-radius: 10px; */
}

main #contact-us-section form #name-of-enquiry-person:focus , main #contact-us-section form #number-of-enquiry-person:focus , main #contact-us-section form #email-id-of-enquiry-person:focus {
  border-bottom: 2px solid var(--main-theme-3);
}

main #contact-us-section form #name-of-enquiry-person:hover , main #contact-us-section form #number-of-enquiry-person:hover , main #contact-us-section form #email-id-of-enquiry-person:hover {
  border-bottom: 2px solid var(--main-theme-3);
}

main #contact-us-section form #message-of-enquiry-person {
  height: 145px;
  width: 50%;
  max-width: 600px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 4px;
  background: transparent;
  outline: none;
  border: 2px solid var(--main-theme-pink);
  line-height: 30px;
  font-size: 1.3rem;
  border-radius: 10px;
  color: var(--main-theme-gray);
  caret-color: var(--main-theme-pink);
  resize: none;
}

main #contact-us-section form #message-of-enquiry-person:focus {
  border: 2px solid var(--main-theme-3);
}

main #contact-us-section form #message-of-enquiry-person:hover {
  border: 2px solid var(--main-theme-3);
}

/* ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ 
  color: red;
  opacity: 1; /* Firefox 
}

:-ms-input-placeholder { /* Internet Explorer 10-11 
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge 
  color: red;
} */


main #contact-us-section form .form-submit-btn {
  height: 33px;
  width: 75px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: var(--main-theme-pink);
  color: var(--main-theme-gray);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  transition: 0.1s;
}

main #contact-us-section form .form-submit-btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
  color: var(--main-theme-3);
  /* border: 2px solid var(--main-theme-3); */
}


/* Footer Section */

.root footer {
  height: max-content;
  width: 100%;
  background-color: var(--main-theme-pink);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 7px;
}

footer .footer-nav {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

footer .footer-nav  ul.footer-nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav ul.footer-nav-menu li.footer-nav-menu-option {
  margin-top: 7px;
  color: var(--main-theme-gray);
  font-size: 1.1rem;
  /* filter: var(--gray-color); */
  /* color: gray; */
}

/* .footer-nav ul.footer-nav-menu li.footer-nav-menu-option a.icons-link-social {
  filter: grayscale(2);
  filter: var(--gray-color-undo);
} */

.footer-nav ul.footer-nav-menu li.footer-nav-menu-option a.icons-link-social img.icon-social {
  height: 25px;
  width: 25px;
  filter: grayscale(2);
}

.footer-nav ul.footer-nav-menu li.footer-nav-menu-option a.icons-link-social img.icon-social:hover {
  filter: grayscale(0);
  transition: 0.2s;
}

/* .footer-nav ul.footer-nav-menu li.footer-nav-menu-option:hover {
  filter: var(--gray-color-undo);
  transition: 0.2s;
} */

.footer-nav ul.footer-nav-menu li.footer-nav-menu-option a.footer-nav-detail-links {
  text-decoration: none;
  color: var(--main-theme-gray);
  /* filter: var(--gray-color); */
}

.footer-nav ul.footer-nav-menu li.footer-nav-menu-option a.footer-nav-detail-links:hover {
  text-decoration: underline;
}

footer span.footer-span-copyright {
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--main-theme-gray);
  text-align: center;
  font-size: 1.1rem;
}



/* Media Query for Header */

@media only screen and (max-width: 768px) , screen and (min-height: 924px) 
{
  .root header {
    height: 37vh;
    
    /* min-height: max-content; */
  }
}

@media screen and (min-width: 1440px) {
  #services-section .services-div-section .services-tiles {
    height: 420px;
    width: 370px;
  }

  main #about-us-section .about-us-section-div img {
    width: 300px;
    height: 350px;
  }
}

@media only screen and (max-width: 768px) and (min-height: 924px) {
  .root header {
    height: 37vh;
    min-height: 385px;
    max-height: 395px;
  }
}

/* Media Query for Header */

@media only screen and (max-height: 768px) and (orientation: landscape) {
  .root header {
    height: 90vh;
  }

  /* For Menu in Tablet and Mobile */
  /* nav .nav-bar button.hamburger-nav-menu {
    display: initial;
  }

  nav .nav-bar ul.nav-bar-menu {
    display: none;
  } */
}

@media screen and (max-width: 1024px) {
  #services-section .services-div-section .services-tiles {
    height: 300px;
    width: 240px;
  }

  /* #services-section .services-div-section .services-tiles:hover .services-tiles-hover-div {
    top: 30%;
  } */

  #services-section .services-div-section .services-tiles .services-tiles-hover-div h2 {
    font-size: 2rem;
  }

  /* main #contact-us-section form {
    width: 80%;
  } */

  main #contact-us-section form #name-of-enquiry-person , main #contact-us-section form #number-of-enquiry-person , main #contact-us-section form #email-id-of-enquiry-person , main #contact-us-section form #message-of-enquiry-person {
    width: 60%;
  }
}



@media screen and (max-width: 768px) {
  .root nav {
    min-height: 60px;
  }
  
  nav .nav-bar button.hamburger-nav-menu {
    display: initial;
  }

  nav .nav-bar ul.nav-bar-menu {
    display: none;
  }

  header #home-section .home-section-msg {
    width: 90%;
  }

  header #home-section .home-section-msg h2 {
    font-size: 2.6rem;
  }

  header #home-section .home-section-msg span {
    font-size: 1.7rem;
  }



  main #services-section {
    margin-bottom: 0;
  }
  main #services-section .services-div-section {
    flex-direction: column;
  }

  #services-section .services-div-section .services-tiles {
    width: 300px;
    height: 350px;
    margin-bottom: 25px;
  }



  main #about-us-section .about-us-section-div {
    flex-wrap: wrap;
    width: 90%;
  }

  main #about-us-section .about-us-section-div img {
    width: 250px;
    height: 300px;
  }

  main #about-us-section .about-us-section-div .about-us-details {
    width: 75%;
    padding: 10px;
  }


  main #contact-us-section form {
    width: 80%;
  }
}



@media screen and (max-width: 486px) {
  /* main #services-section .services-div-section {
    flex-wrap: wrap;
  } */

  /* #services-section .services-div-section .services-tiles {
    margin: 20px 0;
  } */


  /* main #about-us-section .about-us-section-div {
    flex-wrap: wrap;
  } */


  #services-section .services-div-section .services-tiles {
    height: 300px;
    width: 250px;
  }



  main #about-us-section .about-us-section-div img {
    width: 200px;
    height: 250px;
  }

  main #about-us-section .about-us-section-div .about-us-details {
    width: 90%;
  }

  #about-us-section .about-us-section-div .about-us-details span {
    font-size: 1rem;
  }



  main #contact-us-section form #name-of-enquiry-person , main #contact-us-section form #number-of-enquiry-person , main #contact-us-section form #email-id-of-enquiry-person , main #contact-us-section form #message-of-enquiry-person {
    width: 80%;
  }

  

  footer .footer-nav {
    flex-direction: column;
    width: 80%;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  /* footer .footer-nav  {
    width: 80%;
  } */

}



@media screen and (max-width: 279px) {
  * {
    display: none;
  }
}
